@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&family=Work+Sans:wght@400;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    color: #727272;
}

.btn-primary {
    background-color: #ff900e;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

@media screen and(max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

@media screen and(min-width:576px) and (max-width:960px) {

    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}

main {
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 45px;
}

.team-title .quick-size {
    color: #727272;
    font-weight: 500;
}

.team-title .text-feature {
    color: #ff900e;
    font-weight: 600;
}

.butn-primary {
    background-color: #ff900e;
    border-radius: 8px;
    font-size: 15px;
    color: #fff;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

.features {
    margin: 130px;
    display: flex;
    gap: 100px;
}

.features .feature-title {
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}

.ten-years {
    border: 8px;
    background: #ff900e;
    color: #fff;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years h2 {
    font-size: 4rem;
    margin: 0;
}

.ten-years p {
    font-size: 1.5rem;
}


.feature-content .card {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 0px rgba(235, 220, 220, 0.6);
}


.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card-container {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 40px 30px;
}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 20px;
    margin-top: 5px;
}

.facts-card-container .card-status {
    font-size: 40px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sponspor {
    text-align: center;
}

.sponspor-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    color: #727272;
}